@using System.Security.Claims
@model IEnumerable<EnrichedInvitation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserEmail = User.FindFirstValue(ClaimTypes.Email);
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Invite</a>
</p>

    <h2>Received Invites</h2>
@if (Model.Any(item => item.InvitedEmail == currentUserEmail)){
    <table class="table">
        <thead>
            <tr>
                <th>
                    Organization Name
                </th>
                <th>
                    Inviter Email
                </th>
                <th>
                    Invited Email
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receivedInvite in Model.Where(item => item.InvitedEmail == currentUserEmail))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => receivedInvite.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => receivedInvite.InviterEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => receivedInvite.InvitedEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => receivedInvite.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => receivedInvite.DateCreated)
                    </td>
                    <td>
                        @if (receivedInvite.InviterEmail == currentUserEmail && receivedInvite.Status != "Revoked")
                        {
                            <form asp-action="Revoke" asp-route-id="@receivedInvite.Id" method="post">
                                <button type="submit">Revoke</button>
                            </form>
                        }
                        else if (receivedInvite.InvitedEmail == currentUserEmail && receivedInvite.Status == "Pending")
                        {
                            <a asp-action="Accept" asp-route-id="@receivedInvite.Id">Accept</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No received invites</p>
}

    <h2>Sent invites</h2>
@if (Model.Any(item => item.InviterEmail == currentUserEmail)){
    <table class="table">
        <thead>
            <tr>
                <th>
                    Organization Name
                </th>
                <th>
                    Inviter Email
                </th>
                <th>
                    Invited Email
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sentInvite in Model.Where(item => item.InviterEmail == currentUserEmail))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => sentInvite.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sentInvite.InviterEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sentInvite.InvitedEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sentInvite.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => sentInvite.DateCreated)
                    </td>
                    <td>
                        @if (sentInvite.InviterEmail == currentUserEmail && sentInvite.Status != "Revoked")
                        {
                            <form asp-action="Revoke" asp-route-id="@sentInvite.Id" method="post">
                                <button type="submit">Revoke</button>
                            </form>
                        }
                        else if (sentInvite.InvitedEmail == currentUserEmail && sentInvite.Status == "Pending")
                        {
                            <a asp-action="Accept" asp-route-id="@sentInvite.Id">Accept</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
else
{
    <p>No sent invites</p>
}

