@using System.Security.Claims
@model IEnumerable<EnrichedInvitation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUserEmail = User.FindFirstValue(ClaimTypes.Email);
}

<h1>Index</h1>

@if (Model != null && Model.Any())
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Organization Name
                </th>
                <th>
                    Inviter Email
                </th>
                <th>
                    Invited Email
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Created
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InviterEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvitedEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @if (item.InviterEmail == currentUserEmail && item.Status != "Revoked")
                        {
                            <form asp-action="Revoke" asp-route-id="@item.Id" method="post">
                                <button type="submit">Revoke</button>
                            </form>
                        }
                        else if (item.InvitedEmail == currentUserEmail && item.Status == "Pending")
                        {
                            <a asp-action="Accept" asp-route-id="@item.Id">Accept</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You do not have any invites</p>
}
