@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@model IEnumerable<Flow.Data.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Index</h1>
<ul role="list" class="-mx-2 space-y-1">
@await Component.InvokeAsync("UserHasExistingTeam", new { userId = userId })
</ul>
<p>
    <a asp-action="Create">Create New</a>
</p>
    @if (Model != null && Model.Any())
{
<p>
    @* You are currently in team:  @ViewBag.TeamName <br /> *@
        Your role in this team: @ViewBag.UserTeamRole
</p>
    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td onclick="showTasks(@project.Id)">@project.Name</td>
                    <td>@project.Description</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="tasks_@project.Id" style="display: none;"></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Create or join a project!</p>
}

@section scripts {
    <script>
        function showTasks(projectId) {
            var tasksDiv = $("#tasks_" + projectId);
            if (tasksDiv.is(":hidden")) {
                $.ajax({
                    url: '/Project/GetTasks/' + projectId,
                    type: 'GET',
                    success: function (data) {
                        tasksDiv.html(data);
                        tasksDiv.slideDown();
                    }
                });
            } else {
                tasksDiv.slideUp();
            }
        }
    </script>
}